option_settings:
  aws:elasticbeanstalk:application:environment:
    PARSE_MOUNT: "/parse"
    APP_ID: "YgTCdpVe34aU64CK9KzZwbNxC"
    MASTER_KEY: "R19xTlTYa7Ag2fm41Usj4eavr"
    DATABASE_URI: "mongodb://lalongooo:Mand191205-@ds133428.mlab.com:33428/heroku_3lj2tr02"
    NODE_ENV: "production"
    SERVER_URL: "https://permutas-sep-parse-dev-github.herokuapp.com/parse"
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm start"